
@{
    ViewBag.Title = "ManagementAccounting";
}
<div class="bradcam_area" style="background-image: url(https://w7.pngwing.com/pngs/315/343/png-transparent-management-account-manager-sales-google-account-account-manager-text-service-logo.png)">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Management Accounting</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- chose_area  -->
<div class="chose_area ">
    <div class="container">
        <div class="features_main_wrap">
            <div class="row  align-items-center">
                <div class="col-xl-5 col-lg-5 col-md-6">
                    <div class="about_image">
                        <img src="~/img/aboutus/manageaccounting.jpg" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="features_info">
                        <h3>Management Accounting</h3>
                        <p>
                            Our management accounts outsourcing service is a low-risk way to innovate your client’s financial processes while creating dynamic improvements in business performance and profitability. Our service is completely flexible in terms of the scope of work undertaken and the type of reports and management information your clients’ receive. You’ll receive bespoke management information, tailored to your clients’ business requirements.

                        </p>
                       
                        <div class="about_btn">
                            <a class="boxed-btn3-line" href="@Url.Action("Index","Contact")">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ chose_area  -->
