
@{
    ViewBag.Title = "Payroll";
}
<div class="bradcam_area" style="background-image: url(https://cdn.ttgtmedia.com/visuals/ComputerWeekly/Hero%20Images/Payroll-AdobeStock_97534163.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Payroll</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- chose_area  -->
<div class="chose_area ">
    <div class="container">
        <div class="features_main_wrap">
            <div class="row  align-items-center">
                <div class="col-xl-5 col-lg-5 col-md-6">
                    <div class="about_image">
                        <img src="~/img/aboutus/payroll.jpg" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="features_info">
                        <h3>Payroll</h3>
                        <p>
                            We provide payroll administrators with full knowledge of PAYE RTI, Auto-enrolment. We also respond to HMRC or government notices on your behalf, and make sure all information is in compliance with HMRC. We have massive experience and expertise that allow us to provide top quality payroll services
                        </p>
                        <div class="about_btn">
                            <a class="boxed-btn3-line" href="@Url.Action("Index","Contact")">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



