
@{
    ViewBag.Title = "ManagementAccounting";
}
<div class="bradcam_area" style="background-image: url(https://www.ag5.com/wp-content/uploads/2020/11/Blog72_Header-1000x350.png)">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Self Assessment</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- chose_area  -->
<div class="chose_area ">
    <div class="container">
        <div class="features_main_wrap">
            <div class="row  align-items-center">
                <div class="col-xl-5 col-lg-5 col-md-6">
                    <div class="about_image">
                        <img src="~/img/aboutus/selfassessment.jpg" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="features_info">
                        <h3>Self Assessment</h3>
                        <p>
                            Self-assessment tax return outsourcing services ensure that you get the support you need during peak times like in January. Once completed, all tax returns are checked twice before we submit them for your review.
                        </p>
                      
                        <div class="about_btn">
                            <a class="boxed-btn3-line" href="@Url.Action("Index","Contact")">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ chose_area  -->
